<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
    </head>

    <body>
        <div class="ui container">
            <div class="ui secondary menu">
                <a href="{{ url_for('index') }}" class="item">Home</a>
                <div class="right menu">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="ui item">Login</a>
                    {% else %}
                    <a href="{{ url_for('stock') }}" class="ui item">Stock</a>
                    <a href="{{ url_for('logout') }}" class="ui item">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="ui container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
