{% extends 'base.html' %}

{% block content %}
    <h1>New Album</h1>
    <form action="" method="POST" class="ui form">
        {{ form.hidden_tag() }}
        <div class="four fields">
            <div class="field">
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}<br>
            </div>
            <div class="field">
                {{ form.artist_name.label }}<br>
                {{ form.artist_name(class="ui search dropdown") }}<br>
            </div>
            <div class="fields">
                <div class="field">
                    {{ form.lps.label }}
                    {{ form.lps }}
                </div>
                <div class="field">
                    {{ form.cds.label }}
                    {{ form.cds }}
                </div>
                <div class="field">
                    {{ form.tapes.label }}
                    {{ form.tapes }}
                </div>
            </div>
            <div class="field">
                <p>{{ form.submit(class='ui button') }}</p>
            </div>
        </div>
        <div class="ui error message">
                <div class="header">Error</div>
                {% for error in form.cds.errors %}
                    <p>[{{ error }}]</p>
                {% endfor %}
        </div>
    </form>

    <script>
        $('select.dropdown')
            .dropdown()
        ;
    </script>
{% endblock %}
