{% extends 'base.html' %}

{% block content %}
    <h1>New Artist</h1>
    <form action="" method="POST" class="ui form">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </div>
        <div class="ui error message">
            <div class="header">Error</div>
            {% for error in form.name.errors %}
                <p>[{{ error }}]</p>
            {% endfor %}
        </div>
        <p>{{ form.submit(class='ui button') }}</p>
    </form>
{% endblock %}
