{% extends 'base.html' %}

{% block content %}

    <div class="ui text container">
        <h1>STOCK</h1>
        <div class="ui vertical animated button" onClick="location.href='{{ url_for('new_artist') }}'">
            <div class="visible content">Artist</div>
            <div class="hidden content">+</div>
        </div>
        <div class="ui vertical animated button" onClick="location.href='{{ url_for('new_album') }}'">
                <div class="visible content">Album</div>
                <div class="hidden content">+</div>
            </div>
        </div>
        <br>
        {% for album in albums %}
            <p>{{ album.title }}</p>
        {% endfor %}
    </div>

{% endblock %}
